.container {
  display: flex;
  overflow: hidden;
  background-color: #202020;
  padding: 5px;
  padding-left: 3px;
  height: 40px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
.newTabButton {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 3px;
}
.newTabButton:hover {
  background-color: #2d2d2d;
}